body {
    background-color: #17203D;
    color: white;
}

h1 {
    font-size: 35px;
    margin-left: 10px;
}

ul {
    font-family: 'Lato', serif;
    font-size: 30px;
    margin-left:200px;
    width: 1450px;
}

li {
    margin-bottom: 15px;
}

.name {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    display: inline;
    margin-right: 375px;
}

.nav-tab {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: white;
    display: inline;
    margin-right: 225px;
    text-shadow: 2px 2px 1px black;
    cursor: pointer;
}

a {
    color: white;
}

hr {
    margin-top:35px;
    margin-bottom:35px;
}